<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helpermu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Helpermu">
        <activity android:name=".galon7"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".galon6"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".galon5"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".galon4"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".kontakgalon7"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakgalon6"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakgalon5"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakgalon4"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakgalon3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakgalon2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakgalon1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".galon3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".galon2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".galon1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakgas7"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakgas6"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakgas5"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakgas4"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakgas3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakgas2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakgas1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".gas7"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".gas6"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".gas5"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".gas4"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".gas3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".gas2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".gas1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakdoorsmeer7"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakdoorsmeer6"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakdoorsmeer5"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakdoorsmeer4"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakdoorsmeer3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakdoorsmeer2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontakdoorsmeer1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Doorsmeer7"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Doorsmeer6"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Doorsmeer5"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Doorsmeer4"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Doorsmeer3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Doorsmeer2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Doorsmeer1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".menu4"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".menu3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontaklaundry7"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".laundry7"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontaklaundry6"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".laundry6"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontaklaundry5"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".laundry5"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontaklaundry3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontaklaundry4"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".laundry4"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".laundry3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontaklaundry2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".laundry2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".menu2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".kontaklaundry"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".laundry1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".menu1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".menuutama"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".wel4"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".wel3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".wel2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>